<% if logged_in? %>
  <div>
    <h1>This is the home page. There will be stuff here eventually.</h1>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the FELIX app.</h1>

    <h2>
      This is the home page for the <strong><em>felix</em></strong> app.
    </h2>

    <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Courses", courses_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>