<h1><%= @instructor.first_name + " " + @instructor.last_name %></h1>

<div class="panel-group instructor-calendar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Schedule</a>
      </h2>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
        <% blocks = Block.joins(:section).where("instructor_id = ?", @instructor.id).all %>
        <%= render partial: 'shared/calendar', locals: { blocks: blocks } %>
      </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>