<% if @interested_sections.any? %>   
  <div class="panel-group user-cart">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">My Cart</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <% @interested_sections.each do |section| %>
            <% course = section.course %>
            <%= render partial: 'courses/course', locals: { course: course } %>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "Enroll in courses", user_enroll_path, method: :post, class: "btn btn-md btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="panel-group user-courses">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">My Courses</a>
      </h2>
    </div>
    
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <% @enrolled_sections.each do |section| %>
          <% course = section.course %>
          <%= render partial: 'courses/course', locals: { course: course } %>
        <% end %>
      </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>

<div class="panel-group user-calendar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">My Schedule</a>
      </h2>
    </div>
    <div id="collapse3" class="<%= user_schedule_html_class %>">
      <div class="panel-body">
        <% blocks = Block.joins(:section => {:enrollments => :user}).where("user_id = ?", @user.id).all %>
        <%= render partial: 'shared/calendar', locals: { blocks: blocks } %>
      </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>