<li><strong>Admin toolbar</strong></li>
<li><%= link_to "Users", users_path %></li>
<li><%= link_to "Courses", courses_path %></li>
<li><%= link_to "Sections", '#' %></li>
<li><%= link_to "Blocks", '#' %></li>
<li><%= link_to "Buildings", buildings_path %></li>
<li><%= link_to "Rooms", rooms_path %></li>