<div class="calendar">
  
  <h5>
    <%= link_to "[< Previous Week]", url_for(params.merge(date: (starting_date - 7).strftime("%F"))) %>
    
     | Start Time: 
    <%= link_to "6:00", url_for(params.merge(start_time: 6)) %>
    <%= link_to "7:00", url_for(params.merge(start_time: 7)) %>
    <%= link_to "8:00", url_for(params.merge(start_time: 8)) %>
    <%= link_to "9:00", url_for(params.merge(start_time: 9)) %>

    | End Time: 
    <%= link_to "20:00", url_for(params.merge(end_time: 20)) %>
    <%= link_to "21:00", url_for(params.merge(end_time: 21)) %>
    <%= link_to "22:00", url_for(params.merge(end_time: 22)) %>
    <%= link_to "23:00", url_for(params.merge(end_time: 23)) %>
    
    | <%= link_to "Show Weekend", url_for(params.merge(weekend: "t")) %>
    | <%= link_to "Hide Weekend", url_for(params.merge(weekend: "f")) %>
    
    | <%= link_to "[Next Week >]", url_for(params.merge(date: (starting_date + 7).strftime("%F"))) %>
  </h5>
  
  <% start_time = params[:start_time] || 7 %>
  <% start_time = start_time.to_i %>
  <% start_time = 7 if (start_time < 0) or (start_time > 12) %>
  
  <% end_time = params[:end_time] || 21 %>
  <% end_time = end_time.to_i %>
  <% end_time = 21 if (end_time < 18) or (end_time > 23) %>
  
  <% weekend = params[:weekend] || "t" %>
  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><!-- blank cell --></th>
        <% (0..6).to_a.each do |count| %>
          <% if (weekend == "f") and ((count == 0) or (count == 6)) %>
            <th width="0%"></th>
          <% else %>
            <% date = starting_date + count.day %>
            <th width="13%"><%= date.strftime("%a") %><br><%= date.strftime("%F") %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    
    <tbody>
      <% (start_time..end_time).to_a.each do |hour| %>
        <tr>
          <% time = Time.at(hour*3600).strftime("%I:%M %p") %>
          <td width="9%" class="schedule-row">
            <div>
              <strong><%= time %></strong>
            </div>
          </td>
          
          <% (0..6).to_a.each do |count| %>
            <% if (weekend == "f") and ((count == 0) or (count == 6)) %>
              <td width="0%"></td>
            <% else %>
              <td width="13%">
                <% blocks.each do |b| %>
                  <% date = starting_date + count.day %>
                  <% if b.is_scheduled(date, hour) %>
                    <p>
                      <%= b.section.course.abbr %><br>
                      <%= b.time_range %>
                    </p>
                  <% end %> 
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>