<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <ul class="nav navbar-header navbar-left">
        <li><%= link_to image_tag("cat-icon.png", width: 50, height: 50, 
            alt: "Felix logo"), root_path %></li>
      </ul>
    </div>
    
    <div>
    <ul class="nav navbar-nav navbar-left">
          <% if logged_in? %>
            <li><%= link_to "[ #{@current_user.first_name} #{@current_user.last_name} ]", @current_user %></li>
          <% end %>
      </ul>
    </div>
    
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in_user_is_admin? %>
          <%= render 'shared/admin_tools' %>
        <% end %>

        <% if logged_in? %>
          <li><%= link_to "Course Catalog", courses_path %></li>
          <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


