<tr>
  <th><!-- empty cell --></th>
  <th>Section</th>
  <th>Instructor</th>
  <th>Cred</th>
  <th>Cap</th>
  <th>Enr</th>
  <th>Wait</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Day</th>
  <th>Time</th>
  <th>Location</th>
</tr>