<tr>
  <td>
    <% if logged_in_user_is_student? and current_page?(controller: 'courses', action: 'index') %>
      <%= link_to "Add", enrollments_path(section: section.id), method: :post, class: "btn btn-xs btn-primary" %>
    <% elsif params[:controller] == 'users' %>
      <%= link_to "Delete", remove_course_path(section: section.id), 
          method: :delete, class: "btn btn-xs btn-primary" %>
    <% end %>
  </td>
  <td><%= section.padded_code %></td>
  <td><%= link_to_instructor(section) %></td>
  <td><%= section.course.credits %></td>
  <td><%= section.capacity %></td>
  <td><%= section.enrolled %></td>
  <td><%= section.wait_listed %></td>
  <td>
    <p class="model-block-line"><%= section.block_start_dates %></p>
  </td>
  <td>
    <p class="model-block-line"><%= section.block_end_dates %></p>
  </td>
  <td>
    <p class="model-block-line"><%= section.block_days %></p>
  </td>
  <td>
    <p class="model-block-line"><%= section.block_time_ranges %></p>
  </td>
  <td>
    <p class="model-block-line"><%= section.block_locations %></p>
  </td>
</tr>
  
