<h1>Buildings</h1>

<h2><%= link_to "Add new building...", new_building_path %></h2>
<h2><!-- empty line --></h2>

<% Building.all.each do |b| %>
  <div class="panel panel-default">
    <div class="panel-heading panel-title">
      <%= link_to b.name, edit_building_path(b) %>
    </div>
    
    <div class="panel-body">
      <%= image_tag("#{b.map}", alt: "Building map", height: 100, width: 100) %>
      
      <h4><strong>Roooms</strong></h4>
      <% b.rooms.each do |r| %>
        <h4><%= link_to r.number, room_path(r) %></h4>
      <% end %>
    </div>
  </div>
<% end %>