<!-- /building/1 -->

<h1><%= @building.name %></h1>

<%= image_tag("#{@building.map}", alt: "Building map") %>

<% @building.rooms.each do |r| %>
  <h4><%= link_to r.number, room_path(r) %></h4>
<% end %>


