<!-- /room/1?date=2016-01-01 -->

<h1><%= @room.building.name %></h1>
<h2><%= @room.building.abbr %> <%= @room.number %></h2>
<h2><!-- empty line --></h2>

<% blocks = Block.where("room_id = ?", @room.id).order(:start_time) %>
<%= render partial: 'shared/calendar', locals: {blocks: blocks} %>

