<div class="empty-space">
  <h3><!-- empty line --></h3>
</div>

<div class="model-course">
  <h3>
    <%= link_to "[Edit]", edit_course_path(course) if logged_in_user_is_admin? and params[:controller] == "courses" %>
    <%= status_icon(course) %> <strong><%= course.abbr %></strong>
    <%= " | " + course.name if !course.name.nil? %>
  </h3>
  <p><%= course.description %></p>
    
  <% if course.sections.any? %>
    <table class="table table-striped">
      <%= render 'sections/section_header' %>
    
      <% course.sections.each do |section| %>
        <% if params[:controller] == "users" %>
          <%= render section if Enrollment.exists?( { user_id: @user.id, section_id: section.id } ) %>
        <% else %>
          <%= render section %>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>
