<h1>Edit Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-horizontal">
    <%= form_for(@course) do |f1| %>
    
      <%= render 'shared/error_messages', object: f1.object %>
    
      <div class="form-group">
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <%= f1.label :name %>
            </span>
            <%= f1.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group form-inline">
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <%= f1.label "Catalog Number" %>
            </span>
            <%= f1.text_field :prefix, class: 'form-control', size: 6 %>
            <%= f1.text_field :code, class: 'form-control', size: 6 %>
          </div>
        </div>
        
        <div class="form-group form-inline">
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">
                <%= f1.label :credits %>
              </span>
              <%= f1.text_field :credits, class: 'form-control', size: 6 %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <%= f1.label :description %>
        <%= f1.text_area :description, class: 'form-control', rows: 6 %>
      </div>
      
      <div class="form-group">
        <% sections = Section.where("course_id = ?", params[:id]) %>
        <h3><%= f1.label :sections %></h3>
          <% sections.each do |section| %>
            <div class="panel panel-default">
              <%= fields_for(section) do |f2| %>
                <div class="panel-heading form-inline">
                  <%= f2.label :code %>
                  <%= f2.text_field :code, class: 'form-control', value: section.padded_code %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f2.label :instructor %>
                  <%= f2.collection_select :instructor_id, Instructor.all, :id, :last_name, prompt: true %>
                </div>
                
                <div class="panel-body">
                  <% blocks = Block.where("section_id = ?", section.id) %>
                  <% blocks.each do |block| %>
                    <%= fields_for(block) do |f3| %>
                    
                      <div class="form-group form-inline">
                        <%= f3.label :start_date %>
                        <%= f3.date_select :start_date, class: 'form-control' %>
                      </div>
                      <div class="form-group form-inline">
                        <%= f3.label :end_date %>
                        <%= f3.date_select :end_date, class: 'form-control' %>
                      </div>
                      
                      <div class="form-group form-inline">
                        <%= f3.label :start_time %>
                        <%= f3.time_select :start_time, class: 'form-control' %>
                      </div>
                        
                      <div class="form-group form-inline">
                        <%= f3.label :end_time %>
                        <%= f3.time_select :end_time, class: 'form-control' %>
                      </div>
                      
                      <div class="form-group form-inline">
                        [<%= f3.label :monday %>
                        <%= f3.check_box :monday, class: 'form-control' %>]
                        
                        [<%= f3.label :tuesday %>
                        <%= f3.check_box :tuesday, class: 'form-control' %>]
                        
                        [<%= f3.label :wednesday %>
                        <%= f3.check_box :wednesday, class: 'form-control' %>]
                        
                        [<%= f3.label :thursday %>
                        <%= f3.check_box :thursday, class: 'form-control' %>]
                        
                        [<%= f3.label :friday %>
                        <%= f3.check_box :friday, class: 'form-control' %>]
                        
                        [<%= f3.label :saturday %>
                        <%= f3.check_box :saturday, class: 'form-control' %>]
                        
                        [<%= f3.label :sunday %>
                        <%= f3.check_box :sunday, class: 'form-control' %>]
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>

      <%= f1.submit "Update course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>