<h1>Courses</h1>

<div class="search1">
  <%= form_tag(courses_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="model-courses">
    <%= render @courses %>
</div>
