<h1>New Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :prefix %>
      <%= f.text_field :prefix, class: 'form-control' %>

      <%= f.label :code %>
      <%= f.text_field :code, class: 'form-control' %>
      
      <%= f.label :credits %>
      <%= f.text_field :credits, class: 'form-control' %>

      <%= f.submit "Create course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>