@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5em;
}

.model-course {
  border-radius: 2em;
  background: #04B486;
  padding-top: 0.25em;
  padding-left: 1em;
  padding-bottom: 0.25em;
  padding-right: 1em;
}

.model-section {
}

.model-block-line {
  margin-top: 0em;
  margin-bottom: 0em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.schedule-row > div { 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.schedule-row { 
  height: 6em; 
}

#gradient {
  background: -moz-linear-gradient(white 25%, green 50%, white 25%);
}

textarea {
  resize: none;
}

.panel-title {
  font-size: large;
}