<!DOCTYPE html>
<html>
<head>
  <title>Felix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,300,300italic,600italic,700,700italic' %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
  </div>
  
  <div class="container">
    <h3><!-- empty line --></h3>
  </div>
  
  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <div class="debug">
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
